In [15]:
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split, cross_val_score
import random
import pandas as pd
from random import shuffle

In [26]:
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       0.94      0.94      0.94        50
           2       0.94      0.94      0.94        50

   micro avg       0.96      0.96      0.96       150
   macro avg       0.96      0.96      0.96       150
weighted avg       0.96      0.96      0.96       150

[[50  0  0]
 [ 0 47  3]
 [ 0  3 47]]

In [69]:
df = pd.read_csv('C:/Users/AF/ML/OpenDataScience/hack/positive.csv', comment='#', sep = ';')

In [18]:
df.head()

,Column_id,tdate,tmane,ttext,ttype,trep,tfav,tstcount,tfol,tfrien,listcount,count
0,408906692374446080,1386325927,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1,0,0,0,7569,62,61,0
1,408906692693221377,1386325927,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1,0,0,0,11825,59,31,2
2,408906695083954177,1386325927,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1,0,1,0,1273,26,27,0
3,408906695356973056,1386325927,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1,0,1,0,1549,19,17,0
4,408906761416867842,1386325943,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1,0,0,0,597,16,23,1

In [19]:
df.shape

(114911, 12)

In [70]:
df2 = pd.read_csv('C:/Users/AF/ML/OpenDataScience/hack/negative.csv', comment='#', sep = ';')

In [21]:
df2.shape

(111923, 12)

In [22]:
df2.head()

,Column_id,tdate,tmane,ttext,ttype,trep,tfav,tstcount,tfol,tfrien,listcount,count
0,408906762813579264,1386325944,dugarchikbellko,на работе был полный пиддес :| и так каждое за...,-1,0,0,0,8064,111,94,2
1,408906818262687744,1386325957,nugemycejela,"Коллеги сидят рубятся в Urban terror, а я из-з...",-1,0,0,0,26,42,39,0
2,408906858515398656,1386325966,4post21,@elina_4post как говорят обещаного три года жд...,-1,0,0,0,718,49,249,0
3,408906914437685248,1386325980,Poliwake,"Желаю хорошего полёта и удачной посадки,я буду...",-1,0,0,0,10628,207,200,0
4,408906914723295232,1386325980,capyvixowe,"Обновил за каким-то лешим surf, теперь не рабо...",-1,0,0,0,35,17,34,0

In [71]:
data = pd.merge(df, df2, on = 'Column_id', how = 'outer')

In [24]:
data.shape

(226834, 23)

In [25]:
data.head()

,Column_id,tdate_x,tmane_x,ttext_x,ttype_x,trep_x,tfav_x,tstcount_x,tfol_x,tfrien_x,...,tmane_y,ttext_y,ttype_y,trep_y,tfav_y,tstcount_y,tfol_y,tfrien_y,listcount_y,count_y
0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0,0.0,0.0,0.0,7569.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0,0.0,0.0,0.0,11825.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0,0.0,1.0,0.0,1273.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0,0.0,1.0,0.0,1549.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0,0.0,0.0,0.0,597.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
data.drop(['trep_x', 'tfav_x', 'tstcount_x', 'tfol_x', 'tfrien_x','trep_y', 'tfav_y', 'tstcount_y', 'tfol_y', 'tfrien_y'], 
          axis = 1, inplace = True)

In [27]:
data.columns

Index(['Column_id', 'tdate_x', 'tmane_x', 'ttext_x', 'ttype_x', 'listcount_x',
       'count_x', 'tdate_y', 'tmane_y', 'ttext_y', 'ttype_y', 'listcount_y',
       'count_y'],
      dtype='object')

In [28]:
data.head()

,Column_id,tdate_x,tmane_x,ttext_x,ttype_x,listcount_x,count_x,tdate_y,tmane_y,ttext_y,ttype_y,listcount_y,count_y
0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0,61.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0,31.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0,17.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0,23.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
data.shape

(226834, 13)

In [73]:
data['ttext_x'] = data['ttext_x'].fillna(data['ttext_y'])

In [74]:
data['ttype_x'] = data['ttype_x'].fillna(data['ttype_y'])

In [75]:
data['tdate_x'] = data['tdate_x'].fillna(data['tdate_y'])

In [76]:
data['tmane_x'] = data['tmane_x'].fillna(data['tmane_y'])

In [34]:
data.columns

Index(['Column_id', 'tdate_x', 'tmane_x', 'ttext_x', 'ttype_x', 'listcount_x',
       'count_x', 'tdate_y', 'tmane_y', 'ttext_y', 'ttype_y', 'listcount_y',
       'count_y'],
      dtype='object')

In [77]:
data.drop(['listcount_x',
       'count_x', 'tdate_y', 'tmane_y', 'ttext_y', 'ttype_y', 'listcount_y',
       'count_y'], axis = 1, inplace = True)

In [64]:
data.head()

,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

In [38]:
data.head()

,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

In [79]:
data.to_csv('merged.csv')

In [41]:
target = data['ttype_x']

In [42]:
data.drop(['ttype_x', 'Column_id'], axis = 1, inplace = True)

In [ ]:
data.head()

In [54]:
from nltk import NaiveBayesClassifier

In [68]:
nb_classifier = NaiveBayesClassifier.train(data[180000:, :])

TypeError: unhashable type: 'slice'

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [47]:
vectorizer = TfidfVectorizer()

In [48]:
matrix = vectorizer.fit_transform(data['ttext_x'])

In [53]:
data['ttext_x'] = matrix.toarray()

MemoryError:

In [50]:
data.head()

,tdate_x,tmane_x,ttext_x
0,1.386326e+09,pleease_shut_up,"(0, 39597)\t0.4285251910493829\n (0, 283280..."
1,1.386326e+09,alinakirpicheva,"(0, 39597)\t0.4285251910493829\n (0, 283280..."
2,1.386326e+09,EvgeshaRe,"(0, 39597)\t0.4285251910493829\n (0, 283280..."
3,1.386326e+09,ikonnikova_21,"(0, 39597)\t0.4285251910493829\n (0, 283280..."
4,1.386326e+09,JumpyAlex,"(0, 39597)\t0.4285251910493829\n (0, 283280..."

In [51]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.3, random_state = 15)

In [39]:
model = GaussianNB()

In [52]:
model.fit(X_train, y_train )

ValueError: could not convert string to float: 'om_orlova'

In [80]:
yh = pd.read_csv('merged.csv')

In [81]:
yh.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\r\...,1.0